.submit-button-field {
  height: 50px;
}
  
.button-field {
  margin-right: 10px;
  float: right;
}

.add-employee-page {
  margin: 10px;
}

.bg-page-first {
  font-size: 0.8em;
  border-top: 3px solid blue;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}