.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.bg-page {
  background-color: #f2f2f2;
  padding-top: 10px;
  min-height: 100vh;
  font-size: 0.8em;
}

.add-field {
  display: inline-block;
  margin-left: 10px;
}

.button-field {
  float: right;
}

.rmf-heading {
  background-color: white;
  padding: 10px;
}

.pending-info-para-color {
  color: #1a66ff;
}

.rejected-info-para-color {
  color: rgb(197, 55, 55);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
