.salary-details {
  background-color: white;
  margin: 10px;
}

.form-details {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-top: 3px;
}

.form-head {
  padding: 7px;
  text-align: left;
  font-size: 1.1em;
  color: white;
  background-color: #0088cc;
}